* {
    background-color: rgb(0, 29, 100);
    font: rgb(43, 21, 21);
}

.sub-container {
    display: flex;
    flex-direction: column;
    height: 85%;
    justify-content: center;
    align-items: center;
    margin: 20px;
    width: 80vw;
    background-color: rgb(0, 36, 115);
    font-size: 6vh;
}

h1 {
    font-size: 8vh;
    padding: 0px;
    margin: 0px;
    background-color: rgb(0, 36, 115);
}

div {
    height: 4vh;
    width: 50vw;
    background-color: rgb(0, 152, 241);
    margin: 10px;
    text-align: center;
    justify-items: center;
    border: 2px solid white;
    padding: 2vh;
    font-size: 3vh;
    color: white;
}

.main-container {
    display: flex;
    flex-direction: row;
    height: 90vh;
    justify-content: center;
    align-items: center;
    margin: 5vh;
    width: 80vw;
    font-size: 3vh;
}


.input-container {

    display: flex;
    flex-direction: row;
    height: 3vh;
    justify-content: center;
    align-items: center;
    margin: 20px;
    width: 25vw;
    font-size: 3vh;
    font: white;
    background-color: rgb(0, 36, 115);
}

label {
    background-color: rgb(0, 36, 115);
    color: white;
    margin-top: 3vh;
    margin-bottom: 0vh;
    font-size: 3vh;
}

input {
    justify-content: center;
    height: 7vh;
    width: 25vw;
    background-color: rgb(0, 152, 241);
    margin: 4vh;
    font-size: 4vh;
    color: white;

}

textarea {
    height: 60vh;
    width: 30vw;
    background-color: rgb(0, 152, 241);
    margin: 5vh;
    margin-top: 1vh;
    resize: none;
    font-size: 4vh;
    color: white;
    border: 2px solid white;
}

#error {
    height: 20vh;
    width: 30vw;
    font-size: 3vh;
}

#result {
    height: 50vh;
    width: 30vw;
    font-size: 3vh;
}